{% extends "treasury/header_accounts_receivable.html" %}
{% block accounts_receivable %}
<h2>
  Customers
</h2>

<form  action="/Treasury/AccountsReceivable/AddCustomer" method="POST">
 Name: {{ customer_form.name() }}
    <br>
 Email: {{ customer_form.email() }}
    <br>
    <input type=submit value="Add Customer">
</form>

<table border="1">
 <tr>
 <th>
  Name
 </th>
 <th>
  Email
 </th>
 <th>
  Fingerprint
 </tr>
</hr>
 {% for customer in customers %}
 <tr>
  <td>
  {{customer.name}}
 </td>
  <td>
   <a href="{{ url_for('new_invoice', id=customer.id)}}">{{customer.email}}</a>
 </td>
  <td>
  {{customer.fingerprint}}
 </td>
 <td>
  <a href="{{ url_for('delete_customer', id=customer.id)}}">Delete</a>
  </td>
  
 </tr>
 {% endfor %}
</table>


{% endblock %}
