{% extends "header_financial_statements.html" %}
{% block financial_statements %}
<a href="{{ url_for('balance_sheet')}}">Current</a>
{% for period in periods %}
<a href="{{ url_for('balance_sheet_historical', groupby='Monthly', period=period[0])}}">{{period[0]}}</a>
{% endfor %}

 <h2>
  Balance Sheet
 </h2>
 <h3>
  As of {{period.strftime("%B %d, %Y")}}
 </h3>
 {% for element in elements %}
  <h4> 
   {{element.name}}
  </h4>
    <table border="1">
      <tr>
        <th>
        </th>
        <th>
         Balance
        </th>
      </tr>
      <tbody>
        {% for classification in classifications %}
         {% if classification.parent == element.name %}
         <tr>
         <td>
        <b>{{classification.name}}</b>
         </td>
        </tr>
        {% for account in accounts %}
        {% if account.parent == classification.name %}
        <tr>
        <td>
          {{account.name}}
        </td>
       </tr>
        {% endif %}
        {% endfor %}
         {% endif %}
        {% endfor %}
      </tbody>
    </table>
   {% endfor %}
{% endblock %}
