{% extends "treasury/header_treasury.html" %}
{% block treasury %}
<a href="{{url_for('vendors')}}">Vendors</a> - 
<a href="{{url_for('new_purchase_order')}}">New Purchase Order</a> - 
<a href="{{url_for('open_purchase_orders')}}">Open Purchase Orders</a> - 
<a href="{{url_for('accounts_payable')}}">Accounts Payable</a> - 
<a href="{{url_for('closed_purchase_orders')}}">Closed Purchase Orders</a> - 
<a href="{{url_for('open_purchase_order')}}">Closed Purchase Orders</a> - 
<hr>
{% block expenditure_cycle %}{% endblock %}
{% endblock %}
