{% extends "header_bookkeeping.html" %}
{% block bookkeeping %}
<a href="{{ url_for('general_journal', currency='satoshis')}}">Satoshis</a>
<a href="{{ url_for('general_journal', currency='usd')}}">USD</a>
<hr>

  <h1>
    General Journal
  </h1>
  {% if entries %}
    <table border="1">
      <tr>
        <th>
          Date
        </th>
        <th>
          Account
        </th>
        <th>
          Debit
        </th>
        <th>
          Credit
        </th>
      </tr>
      {% for entry in entries %}
        <tr>
          <td>
            {% if entry.tside == 'debit' %}
              {{entry.date.strftime("%m-%d-%Y %H:%M")}}
            {% endif %}
          </td>
          <td>
            <a href="{{ url_for('ledger', accountName=entry.ledger, currency=currency, groupby='All')}}">
            {{entry.ledger}}
          </td>
          <td align="right">
            {% if entry.tside == 'debit' %}
              <a href="{{ url_for('journal_entry', id=entry.journal_entry_id)}}">
               {% if entry.currency == 'satoshis' %}
                {{format_satoshis(entry.amount)}}
               {% elif entry.currency == 'usd' %}
                {{format_usd(entry.amount)}}
               {% endif %}
              </a>
            {% endif %}
          </td>
          <td align="right">
            {% if entry.tside == 'credit' %}
              <a href="{{ url_for('journal_entry', id=entry.journal_entry_id)}}">
                {% if entry.currency == 'satoshis' %}
                 {{format_satoshis(entry.amount)}}
                {% elif entry.currency == 'usd' %}
                 {{format_usd(entry.amount)}}
                {% endif %} 
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
  No journal entries have been recorded.
  {% endif %}
{% endblock %}
