{% extends "header_bookkeeping.html" %}
{% block bookkeeping %}
  <h2>
    Journal Entry
  </h2>
  <h3>
   {{currency}}
  </h3>
    <table border="1">
      <tr>
        <th>
          Date
        </th>
        <th>
          Account
        </th>
        <th>
          Debit
        </th>
        <th>
          Credit
        </th>

      </tr>
      {% for entry in journal_entry.ledgerentries %}
      {% if entry.currency == currency %}
        <tr>
          <td>
            {{entry.date}}
          </td>
          <td>
            <a href="{{ url_for('ledger', accountName=entry.ledger, groupby='All', currency=currency)}}">
              {{entry.ledger}}
            </a>
          </td>
          <td>
            {% if entry.tside == 'debit' %}
              {% if entry.currency == 'Satoshis' %}
               {{format_satoshis(entry.amount)}}
              {% elif entry.currency == 'USD' %}
               {{format_usd(entry.amount)}}
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if entry.tside == 'credit' %}
              {% if entry.currency == 'Satoshis' %}
               {{format_satoshis(entry.amount)}}
              {% elif entry.currency == 'USD' %}
               {{format_usd(entry.amount)}}
              {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}
     </table>
      <br>
      
  {% for entry in journal_entry.ledgerentries %}
  {% if entry.currency == currency %}
  <form  action="{{ url_for('edit_journal_entry', id=id, currency=currency)}}" method="POST">
    {{ entry.form.date() }}
    <br>
    {{ entry.form.tside() }}
    <br>
    {{ entry.form.amount() }}
    <br>
    {{ entry.form.ledger() }}
      <br>
      <input type=submit value="Update Ledger Entry">
  </form>
  {% endif %}
  {% endfor %}
     
     
  <form  action="{{ url_for('edit_journal_entry', id=id, currency=currency)}}" method="POST">
  <input type=submit value="Commit Journal Entry">
</form>
  <br>
  {% if transaction %}
    <h2>
      Transaction Detail
    </h2>
    {% for key, value in transaction.details.items() %}
      {{ key }} : {{ value }}
      <br>
    {% endfor %}
  {% endif %}
  <br>
  {% if memo %}
    Memo file: 
    <a href="{{ url_for('memo_file', filename = memo.filename)}}">
      {{memo.filename}}
    </a>
  {% endif %}
{% endblock %}
