{% extends "header_bookkeeping.html" %}
{% block bookkeeping %}
<a href="{{ url_for('trial_balance', currency='Satoshis', groupby='Monthly', period=period.strftime('%Y-%m'))}}">Satoshis</a> -
<a href="{{ url_for('trial_balance', currency='USD', groupby='Monthly', period=period.strftime('%Y-%m'))}}">USD</a>
<hr>
Period 
{% for period in periods %}
- <a href="{{ url_for('trial_balance', currency=currency, groupby='Monthly', period=period.strftime('%Y-%m'))}}">{{period.strftime("%Y-%m")}}</a>
{% endfor %}
<hr>
  <h2>
   Unadjusted Trial Balance 
  </h2>
  <h3>
   As of {{period.strftime("%B %d, %Y")}}
  </h3>
    <table border="1">
      <tr>
        <th>
          Account
        </th>
        <th>
          Debit
        </th>
        <th>
          Credit
        </th>
      </tr>
      {% for account in accounts %}
        <tr>
         <td>
          {{account['accountName']}}
         </td>
          <td align="right">
           {% if account['debitBalance'] > 0 %}
            <a href="{{ url_for('ledger', accountName=account.accountName, groupby='All', currency=currency)}}">
             {% if currency == 'Satoshis' %}
            {{format_satoshis(account['debitBalance'])}}
            {% elif currency == 'USD' %}
            {{format_usd(account['debitBalance'])}}
            {% endif %}
            </a>
            {% endif %}
          </td>
          <td align="right">
           {% if account['creditBalance'] > 0 %}
            <a href="{{ url_for('ledger', accountName=account.accountName, groupby='All', currency=currency)}}">
            {% if currency == 'Satoshis' %}
           {{format_satoshis(account['creditBalance'])}}
           {% elif currency == 'USD' %}
           {{format_usd(account['creditBalance'])}}
           {% endif %}
            </a>
           {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tfoot bgcolor="silver">
      <tr>
       <td>
       </td>
       <td>
        {% if currency == 'Satoshis' %}
       {{format_satoshis(totalDebits)}}
       {% elif currency == 'USD' %}
       {{format_usd(totalDebits)}}
       {% endif %}
       </td>
       <td>
        {% if currency == 'Satoshis' %}
       {{format_satoshis(totalCredits)}}
       {% elif currency == 'USD' %}
       {{format_usd(totalCredits)}}
       {% endif %}
       </td>
      </tr>
     </tfoot>
    </table>
{% endblock %}
