{% extends "header_bookkeeping.html" %}
{% block bookkeeping %}
<a href="{{ url_for('trial_balance', currency='Satoshis', groupby=groupby, period=period)}}">Satoshis</a> -
<a href="{{ url_for('trial_balance', currency='USD', groupby=groupby, period=period)}}">USD</a>
<hr>
<a href="{{ url_for('trial_balance', currency=currency, groupby='Daily', period='Current')}}">Daily</a> -
<a href="{{ url_for('trial_balance', currency=currency, groupby='Weekly', period='Current')}}">Weekly</a> -
<a href="{{ url_for('trial_balance', currency=currency, groupby='Monthly', period='Current')}}">Monthly</a> -
<a href="{{ url_for('trial_balance', currency=currency, groupby='Annual', period='Current')}}">Annual</a>
<hr>
Period 
{% for period in periods %}
- <a href="{{ url_for('trial_balance', currency=currency, groupby=groupby, period=period)}}">{{period}}</a>
{% endfor %}
<hr>
  <h2>
   Unadjusted Trial Balance 
  </h2>
  <h4>
   {{period_beg.strftime("%A %m/%d/%Y")}} to {{period_end.strftime("%A %m/%d/%Y")}}
  </h4>
    <table border="1">
      <tr>
        <th>
          Subaccount
        </th>
        <th>
          Debit
        </th>
        <th>
          Credit
        </th>
      </tr>
      {% for subaccount in subaccounts %}
        <tr>
         <td>
          {{subaccount[0]}}
         </td>
          <td align="right">
           {% if subaccount[1] > 0 %}
            <a href="{{ url_for('ledger', ledger_name=subaccount[0], groupby='All', currency=currency)}}">
             {% if currency == 'Satoshis' %}
            {{format_satoshis(subaccount[1])}}
            {% elif currency == 'USD' %}
            {{format_usd(subaccount[1])}}
            {% endif %}
            </a>
            {% endif %}
          </td>
          <td align="right">
           {% if subaccount[2] > 0 %}
            <a href="{{ url_for('ledger', ledger_name=subaccount[0], groupby='All', currency=currency)}}">
            {% if currency == 'Satoshis' %}
           {{format_satoshis(subaccount[2])}}
           {% elif currency == 'USD' %}
           {{format_usd(subaccount[2])}}
           {% endif %}
            </a>
           {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tfoot bgcolor="silver">
      <tr>
       <td>
       </td>
       <td>
        {% if currency == 'Satoshis' %}
       {{format_satoshis(totalDebits)}}
       {% elif currency == 'USD' %}
       {{format_usd(totalDebits)}}
       {% endif %}
       </td>
       <td>
        {% if currency == 'Satoshis' %}
       {{format_satoshis(totalCredits)}}
       {% elif currency == 'USD' %}
       {{format_usd(totalCredits)}}
       {% endif %}
       </td>
      </tr>
     </tfoot>
    </table>
{% endblock %}
