<html>
  <head>
    <title>Pacioli</title>
  </head>
  <body>
    <a href="/">Pacioli</a> - 
    <a href="/Configure">Configure</a> - 
    <a href="/Upload">Upload Files</a> - 
    <a href="/Memoranda">Memoranda</a> - 
    <a href="/GeneralJournal">General Journal</a> - 
    <a href="/GeneralLedger">General Ledger</a> - 
    <a href="/TrialBalance">Trial Balance</a> - 
    <a href="/IncomeStatement">Income Statement</a>
    <a href="/BalanceSheet">Balance Sheet</a> - 
    <a href="/StatementOfCashFlows">Statement of Cash Flows</a>
    <hr>
    {% block content %}
    {% endblock %}
  </body>
</html>
