{% extends "base.html" %}
{% block content %}
  <h1>
    General Journal
  </h1>
  {% if entries %}
    <table border="1">
      <tr>
        <th>
          ID
        </th>
        <th>
          Date
        </th>
        <th>
          Account
        </th>
        <th>
          Debit
        </th>
        <th>
          Credit
        </th>
      </tr>
      {% for entry in entries %}
        <tr>
          <td>
            {% if entry.entryType == 'debit' %}
            <a href="{{ url_for('journal_entry', id=entry.journal_entry_id)}}">
              {{entry.journal_entry_id}}
            </a>
            {% endif %}
          </td>
          <td>
            {% if entry.entryType == 'debit' %}
              {{entry.date}}
            {% endif %}
          </td>
          <td>
            {{entry.account}}
          </td>
          <td align="right">
            {% if entry.entryType == 'debit' %}
              {{format_satoshis(entry.amount)}}
            {% endif %}
          </td>
          <td align="right">
            {% if entry.entryType == 'credit' %}
              {{format_satoshis(entry.amount)}}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
