{% extends "base.html" %}
{% block content %}
  <h1>
    General Journal
  </h1>
  {% if entries %}
    <table border="1">
      <tr>
        <th>
          Date
        </th>
        <th>
          Account
        </th>
        <th>
          Debit
        </th>
        <th>
          Credit
        </th>
      </tr>
      {% for entry in entries %}
        <tr>
          <td>
            {% if entry.entryType == 'debit' %}
              {{entry.date.strftime("%m-%d-%Y %H:%M")}}
            {% endif %}
          </td>
          <td>
            <a href="{{ url_for('ledger', accountName=entry.account, groupby='All')}}">
            {{entry.account}}
          </td>
          <td align="right">
            {% if entry.entryType == 'debit' %}
              <a href="{{ url_for('journal_entry', id=entry.journal_entry_id)}}">
                {{format_satoshis(entry.amount)}}
              </a>
            {% endif %}
          </td>
          <td align="right">
            {% if entry.entryType == 'credit' %}
              <a href="{{ url_for('journal_entry', id=entry.journal_entry_id)}}">
                {{format_satoshis(entry.amount)}} 
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
  No journal entries have been recorded.
  {% endif %}
{% endblock %}
