{% extends "base.html" %}
{% block content %}
  <h1>
    {{accountName}} Ledger
  </h1>
  <p>
    <a href="{{ url_for('ledger', accountName=accountName, groupby='All')}}">
      All</a> - 
    <a href="{{ url_for('ledger', accountName=accountName, groupby='Daily')}}">
      Daily</a> - 
    <a href="{{ url_for('ledger', accountName=accountName, groupby='Monthly')}}">
      Monthly</a>
    {% if groupby2 == 'Daily' and interval %}
    <br>
    <br>
    <a href="{{ url_for('ledger_page', accountName=accountName, groupby='Monthly', interval=interval.strftime('%m-%Y'))}}">
      {{interval.strftime("%m-%Y")}} Ledger
    </a>
    {% endif %}
  </p>
  {% if ledger_entries %}
    <table border="1">
      <tr>
        <th>
        </th>
        <th>
          Debit
        </th>
        <th>
          Credit
        </th>
      </tr>
      <tbody>
        {% if groupby == "All" %}
        {% for entry in ledger_entries %}
        <tr>
          <td>
            {{entry.date.strftime("%m-%d-%Y %H:%M")}}
          </td>
          <td align="right">
            {% if entry.entryType == 'debit' %}
              <a href="{{ url_for('journal_entry', id=entry.journal_entry_id)}}">
                {{format_satoshis(entry.amount)}}
              </a>
            {% endif %}
          </td>
          <td align="right">
            {% if entry.entryType == 'credit' %}
              <a href="{{ url_for('journal_entry', id=entry.journal_entry_id)}}">
                {{format_satoshis(entry.amount)}}
              </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if groupby == "Daily" %}
        {% for entry in ledger_entries %}
        <tr>
          <td>
            <a href="{{ url_for('ledger_page', accountName=accountName, groupby=groupby, interval=entry.strftime('%m-%d-%Y'))}}">
              {{entry.strftime("%m-%d-%Y")}}
            </a>
          </td>
          <td align="right">
            {% if 'debit' in ledger_entries[entry] %}
                {{format_satoshis(ledger_entries[entry]['debit'])}}
            {% endif %}
          </td>
          <td align="right">
            {% if 'credit' in ledger_entries[entry] %}
                {{format_satoshis(ledger_entries[entry]['credit'])}}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if (groupby == "Monthly") %}
        {% for entry in ledger_entries %}
        <tr>
          <td>
            <a href="{{ url_for('ledger_page', accountName=accountName, groupby=groupby, interval=entry.strftime('%m-%Y'))}}">
              {{entry.strftime("%m-%Y")}}
            </a>
          </td>
          <td align="right">
            {% if 'debit' in ledger_entries[entry] %}
                {{format_satoshis(ledger_entries[entry]['debit'])}}
            {% endif %}
          </td>
          <td align="right">
            {% if 'credit' in ledger_entries[entry] %}
                {{format_satoshis(ledger_entries[entry]['credit'])}}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% endif %}
        
        <tr>
          <td>
            Total
          </td>
          <td align="right">
            {% if account['totalDebit'] %}
              {{format_satoshis(account['totalDebit'])}}
            {% endif %}
          </td>
          <td align="right">
            {% if account['totalCredit'] %}
              {{format_satoshis(account['totalCredit'])}}
            {% endif %}
          </td>
        </tr>
      </tbody>
      <tfoot bgcolor="silver">
        <tr>
          <td>
            Balance
          </td>
          <td align="right">
            {% if account['debitBalance'] %}
              {{format_satoshis(account['debitBalance'])}}
            {% endif %}
          </td>
          <td align="right">
            {% if account['creditBalance'] %}
              {{format_satoshis(account['creditBalance'])}}
            {% endif %}
          </td>
        </tr>
      </tfoot>
    </table>
  {% endif %}
{% endblock %}
