{% extends "base.html" %}
{% block content %}

<h1>Memoranda</h1>

{% if memos %}
<table border="1">
  <tr>
    <th>
      Date
    </th>
    <th>
      Memo Name
    </th>
    <th>
      Transactions
    </th>
  {% for memo in memos %}
  <tr>
  <td>
    {{memo.date}}
  </td>
  <td>
    {{memo.fileName}}
  </td>
  <td>
    {{memo.fileSize}}
  </td>
  <td>
    <a  href="{{ url_for('delete_memoranda', fileName = memo.fileName)}}">
      Delete
    </a>
  </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
