{% extends "base.html" %}
{% block content %}

<h1>Transactions</h1>

{% if transactions %}
<table border="1">
  <tr>
    <th>
      ID
    </th>
    <th>
      Details
    </th>
    <th>
    </th>
  {% for transaction in transactions %}
  <tr>
  <td>
    {{transaction.id}}
  </td>
  <td>
    {% for key, value in transaction.details.items() %}
      {{ key }} : {{ value }}
      <br>
    {% endfor %}
  </td>
  <td>
    Journal Entry
  </td>

  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
