{% extends "revenue_cycle/header_revenue_cycle.html" %}
{% block revenue_cycle %}
<h2>
  Customers
</h2>

<form  action="{{ url_for('treasury.new_identity')}}" method="POST">
 Email: {{ identity_form.email() }}
    <br><br>
 First name: {{ identity_form.first_name() }}
 Last name: {{ identity_form.last_name() }}
 IRC nick: {{ identity_form.irc_nick() }}
    <br><br>
    <input type=submit value="Add Customer">
</form>

<table border="1">
 <tr>
 <th>
  Name
 </th>
 <th>
  Email
 </th>
 <th>
  Fingerprint
 </tr>
</hr>
 {% for customer in customers %}
 <tr>
  <td>
  {{customer.name}}
 </td>
  <td>
   <a href="{{ url_for('treasury.invoice_customer', customer_id=customer.id)}}">{{customer.email}}</a>
 </td>
  <td>
  {{customer.fingerprint}}
 </td>
 <td>
  <a href="{{ url_for('treasury.delete_identity', identity_id=customer.id)}}">Delete</a>
  </td>
  
 </tr>
 {% endfor %}
</table>


{% endblock %}
