{% extends "treasury/header_treasury.html" %}
{% block treasury %}
<a href="{{url_for('treasury.customers')}}">Customers</a> - 
<a href="{{url_for('treasury.new_sales_orders')}}">New Orders</a> - 
<a href="{{url_for('treasury.open_sales_orders')}}">Open Orders</a> - 
<a href="{{url_for('treasury.accounts_receivable')}}">Accounts Receivable</a> - 
<a href="{{url_for('treasury.cash_receipts')}}">Cash Receipts</a> - 
<a href="{{url_for('treasury.closed_sales_orders')}}">Closed Orders</a> - 
<a href="{{url_for('treasury.sales_refunds')}}">Refunds</a>
<hr>
{% block revenue_cycle %}{% endblock %}
{% endblock %}
