{% extends "base.html" %}
{% block content %}

{% from "_formhelpers.html" import render_field %}
<form  method="POST" action="/FileMaps">
  {{ form.hidden_tag() }}

    {{ form.fileMapName.label }}:  {{ form.fileMapName(size=20) }}
<br>
<br>
  <input type=submit value="Add File Map">
</form>

{% if fileMaps %}
<table border="1">
  <caption>Existing File Maps</caption>
  <tr>
    <th>
      Name
    </th>
  {% for fileMap in fileMaps %}
  <tr>
  <td>
    {{fileMap.fileMapName}}
  </td>
  <td>
    <a href="{{ url_for('filemap', fileMapName = fileMap.fileMapName)}}">Edit</a>
  </td>
  <td>
    <a href="{{ url_for('deletefilemap', fileMapName = fileMap.fileMapName)}}">Delete</a>
  </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
