{% extends "header_bookkeeping.html" %}
{% block bookkeeping %}
  <h2>
    Journal Entry
  </h2>
  <h3>
   {{currency}}
  </h3>
    <table border="1">
      <tr>
        <th>
          Date
        </th>
        <th>
          Account
        </th>
        <th>
          Debit
        </th>
        <th>
          Credit
        </th>

      </tr>
      {% for entry in journal_entry.ledgerentries %}
      {% if entry.currency == currency %}
        <tr>
          <td>
            {{entry.date}}
          </td>
          <td>
            <a href="{{ url_for('bookkeeping.ledger', ledger_name=entry.ledger, groupby='All', currency=currency)}}">
              {{entry.ledger}}
            </a>
          </td>
          <td>
            {% if entry.debit > 0 %}
              {% if entry.currency == 'Satoshis' %}
               {{format_satoshis(entry.debit)}}
              {% elif entry.currency == 'USD' %}
               {{format_usd(entry.debit)}}
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if entry.credit > 0 %}
              {% if entry.currency == 'Satoshis' %}
               {{format_satoshis(entry.credit)}}
              {% elif entry.currency == 'USD' %}
               {{format_usd(entry.credit)}}
              {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}
     </table>
      <br>
      
  {% for entry in journal_entry.ledgerentries %}
  {% if entry.currency == currency %}
  <form  action="{{ url_for('bookkeeping.edit_journal_entry', journal_entry_id=journal_entry_id, currency=currency, ledger_entry_id=entry.id)}}" method="POST">
    Date: {{ entry.form.date() }}
    <br>
    Debit: {{ entry.form.debit() }}
    <br>
    Credit: {{ entry.form.credit() }}
    <br>
    Ledger: {{ entry.form.ledger() }}
      <br>
      <input type=submit value="Update Ledger Entry">
  </form>
  {% endif %}
  {% endfor %}

  <br>
  {% if transaction %}
    <h2>
      Transaction Detail
    </h2>
    {% for key, value in transaction.details.items() %}
      {{ key }} : {{ value }}
      <br>
    {% endfor %}
  {% endif %}
  <br>
  {% if memo %}
    Memo file: 
    <a href="{{ url_for('bookkeeping.memo_file', filename = memo.filename)}}">
      {{memo.filename}}
    </a>
  {% endif %}
{% endblock %}
